main { 
    background-color: #f2f2f2;
    color: #19191e;
    width: 45vw;
    margin: auto;
    // text-align: center;
    padding: 10px;
    padding-bottom: 100px;
    padding-left: 100px;
  }

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top:  5.5rem;
    padding: 0rem;
    margin-bottom: 3rem;
}

ul {
    margin-bottom: 20px;
    
}
