main { 
    background-color: #f2f2f2;
    color: #19191e;
    width: 60vw;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    padding-left: 100px;
  }

h1 {
    font-size: 1.5rem;
    margin-top: 50px;
    padding: autopx;
}

ul {
    margin-top: 20px;
    
}
