.tournament--list{
  display: flex;
  flex-direction: row;
  margin: 0rem 1rem 1rem 1rem;
  padding: 0.8rem 0;

  background-color: #19191e;
  //border: solid 2px #EE581E;
  color: #f2f2f2;
  font-size: 1.1rem;
}

.tournament--list--row{
  display: flex;
}

.tournament--list--row--element{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 13vw;
}

.tournament--list--row--action{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: 0.5rem;
}

.modify-tournament{
  display: flex;
  color: #f2f2f2;
  border: none;
  margin: 0 1vw 0 0;
  background-color: #19191e;

  &:hover{
    cursor: pointer;
    color: #EE581E;
    transform: scale(1.5);
    transition : 0.4s ease-out;
  }
}

.tournaments--play{
  display: flex;
  background-color: #EE581E;
  border: 2px solid #000000;
  color: #f2f2f2;
  padding: 0.7vh 1vw;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.3s;

  &:hover{
    cursor: pointer;
    background-color: #000000;
    border: 2px solid #f2f2f2;
    color: #EE581E;
  }
}
