.faq { // on mobile, faq contents slides in from the right
    background-color: #19191e;
    color: #f2f2f2;
    width: 50vw;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    padding: 1%;
  }

.question {
    background-color: #f2f2f2;
    color: #19191e;
    margin: auto;
    padding: 1%;
}

.answer {
    background-color: #19191e;
    color: #f2f2f2;
    margin: auto;
    padding: 1%;
}
  
