  .question {
    background-color: #f2f2f2;
    color: #ee581e;
    height: 20px;
    padding: 0px;
    margin-top: 50px;
}

.answer {
    background-color: #f2f2f2;
    color: #19191e;
    margin-top: 10px;
    height: 20px;
    padding-bottom: 50px;
    border-bottom: #19191e solid 1px;
}
  

