.chipElement{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;

      &__img{
          width: 80px;
          height: 80px;
          margin-right: 1rem;
          border: 2px solid #f2f2f2;
          background-color: #f2f2f2;
          border-radius: 50%;
      }

      &__field{

          display: flex;
          flex-direction: column;
          margin-right: 1rem;

          &__label{
              color: #ee581e;
              font-size: 0.8rem;
              font-weight: bold;
              margin-bottom: 0.2rem;
              padding-left: 0.1rem;
              
          }
  
          &__inputColor{
              width: 90px;
              height: 50px;
              margin-right: 1rem;
              font-weight: bold;
          }

          &__inputNumber{
              width: 110px;
              padding: 0.7rem;
              margin-right: 1rem;
              font-size: 1.3rem;
              font-weight: bold;
          }

          &__logo{
              display: flex;
              align-items: center;
              margin-top: 0.8rem;
              margin-right: 1rem;
              color: #f2f2f2;

              &:hover{
                  color: #ee581e;
                  cursor: pointer;
              }
          }
      }
}
