.cgu{
  margin-left: 1.5rem;
  width: 70%;
  margin: auto;
  margin-top: 4rem;
  overflow-y: scroll;

  &__mainTitle{
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    text-align: center;
  }

  &__articleTitle{
    color: #ee581e;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-style: italic;
  }

  &__articleContent{
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
  }
}
