.tournament-containerDetail{
  color: #ee581e;
  font-size: 1.5rem;
  line-height: 2.5rem;


  display: flex;
  flex-direction: column;
  align-items: flex-start;


  &__comment{
    

  }
}

.detailsTournament{
  color: #f2f2f2;
  padding: 1rem;
}
