

.card-content{
  text-align: center;
  width: 350px;
  overflow: hidden;
  // border : solid 1px #19191e;
  border-radius: 10px ;
  // border: 1px solid #f2f2f2;
  // box-shadow:  1px -2px 7px 7px rgba(176,176,176,0.82);
  color: #19191e;
  background-color: #f2f2f2;
  height: auto;
  width: 25vw;
  font-size: 1.3rem;
  margin-top: 2rem;



  &--image{
      height: 25rem;
      // width: 100%;
      padding: auto;
      display: inline-block;
      margin-top: 0.5rem;
      margin: 0 auto;
      text-align: center;
      position:relative;
      right: 0.8em;

  }

  &--description{
    padding: 1rem;
    margin-top: 0.5rem;
    height: auto;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }

  &--title{
    font-weight: bold;
    padding-top: 0.5rem;
  }
}
