.resetPassword{
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    padding: 1rem;

    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        margin: 2rem auto;
        background-color: #19191e;
        width: 500px;

        &__subtitle{
            color: #f2f2f2;
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 2rem;
        }

        &__label{
            width: 100%;
            text-align: left;
            margin-bottom: 0.3rem;
            color: #ee581e;
            font-weight: bold;
        }

        &__input{
            width: 100%;
            padding: 1rem;
            margin-bottom: 1.5rem;
            font-size: 1.3rem;
            font-weight: bold;

            &::placeholder{
                color: black;
            }
        }

        &__button{
            background-color: #ee581e;
            color: #f2f2f2;
            padding: 0.8rem 2rem;
            border-radius: 5px;
            font-weight: 700;
            font-size: 1.1rem;
            border: 2px solid #19191e;
            margin-top: 0.5rem;

            &:hover{
                cursor: pointer;
                background-color: #19191e;
                border: 2px solid #f2f2f2;
                color: #EE581E;
            }
        }

        &__instructions{
            color: #f2f2f2;
            margin-bottom: 1rem;
            text-align: justify;

            &:last-of-type{
                margin-bottom: 2rem;
            }
        }
    }
}