.timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 15px solid white;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #19191e;
    color: #f2f2f2;
    position: relative;
    margin: 10rem auto 0 auto;

    &__reset{
        margin-top: 1rem;
    }

    &__stage{
        display: flex;
        align-items: center;
        margin-top: 1rem;
        font-size: 3rem;

        &__stage, &__chevronLeft, &__chevronRight{
            height: 100%;
        }

        &__stage{
            margin: 0 2rem;
        }
    }

    &__timer{
        display: flex;
        position: absolute;
        top: 38%;
        font-size: 7rem;
        font-weight: bold;
    }
    &__range{
        position: absolute;
        top:61%;
        width: 100%;
        text-align: center;

    }

    &__play{
        font: inherit;
        outline: none;
        position: relative;
        top: 40%;
    }
}

.icon{
    color: #f2f2f2;

    &:hover{
        color: #ee581e;
        cursor: pointer;
    }
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 65%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #99999A;
    border-radius: 5px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 1px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #7D7D7D;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #99999A;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #99999A;
    border-radius: 5px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 1px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #7D7D7D;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #99999A;
    border: 0px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #99999A;
    border: 0px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 1px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #7D7D7D;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #99999A;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #99999A;
  }
  